
<div class="accordion" id="menu-{{ parent.id }}">
  {% for division in division_list %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#division-{{ division.id }}">
          {{ division }}
      </button>
    </h2>

    <div id="division-{{ division.id }}" class="accordion-collapse collapse" data-bs-parent="#menu-{{ parent.id }}">

      <div class="row px-3 pt-3 pb-1">
        {% for employee in division.division_employee.all %}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ employee.name }}</h5>
              <p class="card-text">{{ employee.post }} c {{ employee.date_of_admission }}</p>
              <p class="card-text">Зарплата - {{ employee.salary }} руб.</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="accordion-body">
        {% include 'children_divisions_list.html' with division_list=division.children.all parent=division %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>